html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #946f6f;
}

header {
  background-image: url(../public/phyllisTest/images/jannes-glas-0NaQQsLWLkA-unsplash.jpg);
  background: darkslateblue;
}

/* Photo by <a href="https://unsplash.com/@jannesglas?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jannes Glas</a> on <a href="https://unsplash.com/photos/silhouette-of-people-playing-basketball-during-sunset-0NaQQsLWLkA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wrapper {
  display: flex;
}

#form1 {
  float: left;
  width: 45%;
}

#form2 {
  float: right;
  width: 45%;
}
