<link rel="stylesheet" href="./css/style.css" />
<link rel="stylesheet" href="./css/signIn.css" />

<div class="container">
  <header class="pb-3 px-2 mb-4 row">
    <div class="jumbotron p-5 bg-body rounded-3 col-12">
      <h1 class="display-4 fw-bold text-white">Track Your Team</h1>
      <div class="container-fluid py-3">
        <p class="col-xl-12 text-white fs-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
          voluptatem consequatur dolor, vel minima beatae assumenda at,
          accusamus, necessitatibus ad tempore laudantium et ex distinctio
          delectus repudiandae numquam doloremque. Inventore fuga repudiandae
          adipisci quasi modi!
        </p>
      </div>
    </div>
  </header>
  <main class="row">
    <div class="container py-4"></div>
    <div class="row"></div>
    <section class="form-create container">
      <div class="wrapper row">
        <form id="form1" class="col-md-6 col-12">
          <h2 class="h4 mb-4 text-white fw-bold">Please sign in</h2>
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-4"></div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Sign in
          </button>
        </form>

        <form class="col-md-6 col-12">
          <h2 class="h4 mb-4 text-white fw-bold">Create an Account</h2>
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInput2"
              placeholder="name@example.com"
            />
            <label for="floatingInput2">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword2"
              placeholder="Password"
            />
            <label for="floatingPassword2">Password</label>
          </div>
          <div class="checkbox mb-4"></div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Create Account
          </button>
        </form>
      </div>
    </section>
  </main>
  <footer class="pt-4 mt-4 text-muted row">
    <div>
      <h4 class="fw-bold text-center text-white">
        Track Your Team was developed by Node2Nowhere
      </h4>
    </div>
    <div>
      <h5 class="fw-bold text-center text-white">
        Framework Courtesy of Bootstrap
      </h5>
    </div>
  </footer>
</div>